<div class="terminal" ng-class="{
    'active' : terminal,
    'minimized' : minimized,
    'maximized' : maximized
}">
    <div class="terminal__top-bar">
        <div class="terminal__button terminal__button-close" ng-click="closeTerminal()"></div>
        <div class="terminal__button terminal__button-minimize" ng-click="minimizeTerminal()"></div>
        <div class="terminal__button terminal__button-zoom" ng-click="maximizeTerminal()"></div>
    </div>
    <div class="terminal__panel">
        <p class="terminal__line">{{ lastLogin }}</p>
        <p class="terminal__line"
           ng-class="{ 'text__acid-green' : line.success, 'text__acid-red' : !line.success }"
           ng-repeat="line in totalLine">{{ line.command }} => {{ line.message }}</p>
        <p class="terminal__line">root$ {{ currentLine }}<span class="terminal__cursor">_</span></p>
    </div>
</div>
