.btn{
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px 10px;
    font-weight: 300;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    &:last-child{
        margin-right:0;
    }
}
.btn:enabled{
    cursor:pointer;
}
.btn:disabled{
    cursor:not-allowed;
    opacity:.6;
}
.btn-logout {
    border-color:$netBlue;
    color:$netBlue;
}
