.btn:enabled{
    cursor:pointer;
}
.btn:disabled{
    opacity:.6;
    cursor:not-allowed;
}
.btn{
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px 10px;
    font-weight: 300;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
    outline:none;
    &:last-child{
        margin-right:0;
    }
}
.btn__shadow{
    box-shadow:1px 1px 15px rgba(0,0,0,0.5);
    &:hover{
        box-shadow:1px 1px 15px rgba(0,0,0,.1);
    }
}
.btn-logout {
    border-color:$netBlue;
    color:$netBlue;
}
.btn-special-action{
    position: absolute;
    right: 10px;
    z-index: 2;
    border-color:$darkRed;
    color:$darkRed;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition:all .3s cubic-bezier(0, 1.12, 0.63, 1.13);
    &.label-visible{
        border-color:$acidGreen;
        color:$acidGreen;
    }
}
.btn-hydra-mode{
    top: 90px;
}
.btn-terminal{
    top: 150px;
}
.btn-label{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -160px;
    width: 150px;
    transform: translateY(-50%);
    color: #fff;
    font-size: .8rem;
    padding: 3px;
    background-color: rgba(0,0,0,.3);
    border-radius: 6px;
    box-shadow:0 1px 3px rgba(0,0,0,0.35);
    border: 1px solid #515151;
    opacity: 0;
    z-index: -1;
    transition:all .5s cubic-bezier(0, 1.12, 0.63, 1.13) .3s;
    &.visible{
        opacity: 1;
        z-index:  1;
        transition-delay:unset;
    }
}
.btn-options {
    border: none;
}
