html, body{
    width:100%;
    height:100%;
    overflow:hidden;
}
ol, ul{
    padding:0;
    margin:0;
    list-style-type:none;
}
.text__acid-green{
    color:$acidGreen;
}
.text__acid-red{
    color:$darkRed;
}
body{
    font-family:$fontFamilyPrimary;
    font-size:$fontSize;
    font-weight: $fontWeightNormal;
    line-height:$lineHeight;
}
button:disabled{
    opacity:.6;
    cursor:not-allowed;
    &:hover{
        background-color:inherit;
        color:inherit;
    }
}
#hydraWrapper{
    position:relative;
    z-index:1;
    transition:transform .3s cubic-bezier(0, 1.12, 0.63, 1.13);
    transform:translateX(0);
    &.hydra-mode{
        transform:translateX(-100%);
    }
    &:after{
        content:'';
        display:table;
        clear:both;
    }
}
