#hydraMainMenu{
    width:220px;
    height:100%;
    background-color: rgba(38, 45, 53, .95);
    //overflow-y: auto;
    box-shadow: 1px 0 3px rgba(0,0,0,.35);
    position:relative;
    z-index:2;
    float:left;
    .protocol-switch{
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid $borderColorLight;
        height: 100px;
        color: #fff;
        z-index: 2;
        box-shadow: 0 0 8px rgba(0,0,0,0.35);
        > div{
            cursor:pointer;
            user-select: none;
            background-color:rgba(38,45,53,1);
            box-shadow: inset 0 0 3px rgba(0,0,0,.35);
            transition:all .2s ease-in-out;
            &.active{
                background-color:#F09601;
                box-shadow: 0 0 3px rgba(0,0,0,.35)
            }
        }
        .ble {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 60px) rotate(45deg);
            padding: 25px;
            height: 120px;
            width: 120px;
            text-align: center;
            color: #fff;
            z-index: 2;
            border-top: 1px solid $borderColorLight;
            border-left: 1px solid $borderColorLight;
            //&.active{
            //    background-color: #093D91;
            //}
            span {
                display: block;
                transform: rotate(-45deg) translate(-20%, -60%);
            }
            &:before{
                content: '';
                background-color: $borderColorLight;
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 20px;
                transform: rotate(-45deg) translate(7px, -18px);
            }
        }
        .lan {
            width: 50%;
            float: left;
            padding: 20px;
            text-align: center;
            height: 100%;
            span{
                margin-left: -20px;
            }
            &.active{
                position: relative;
                z-index: 1;
                //background-color: #F09601;
            }
        }
        .wifi {
            width: 50%;
            float: left;
            padding: 20px;
            text-align: center;
            height: 100%;
            span{
                margin-right: -20px;
            }
            &.active{
                position: relative;
                z-index: 1;
                //background-color: #000;
            }
        }
    }
    .bottom-bar{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba(38,45,53,1);
        box-shadow: 1px -1px 3px rgba(0,0,0,0.35);
        width: 100%;
        height: auto;
        &:after{
            content:'';
            display:table;
            clear:both;
        }
        .bottom-bar__item {
            display: block;
            width: 100%;
            max-width: calc(100% / 3);
            float: left;
            border-right:1px solid $borderColorLight;
            &:last-child{
                border-right:none;
            }
            > a {
                text-align: center;
            }
            &:hover{
                a {
                    color:$acidOrange;
                }
            }
        }
    }
    ul{
        height: calc(100% - 100px);
        overflow-y: auto;
        position: relative;
        z-index: 1;
    }
    li{
        border-bottom:1px solid $borderColorLight;
        a{
            color:#fff;
            padding:10px;
            display:block;
            text-decoration:none;
        }
    }
    .module-list-item{
        &.active{
            .module-list-item--name{
                border-color:#F09601;
            }
        }
        .module-list-item--name{
            border-left:4px solid transparent;
            display: inline-block;
            width: calc(100% - 50px);
            transition:all .2s ease-in-out;
        }
        .module-list-item--switch{
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 0;
            vertical-align: middle;
            border-left: 1px solid #313131;
            position: relative;
            .badge{
                width: 30px;
                //position: relative;
                transition:all .2s ease-in-out;
                display:inline-block;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                .badge--switch {
                    position: absolute;
                    top: 50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    transition:all .2s ease-in-out;
                }
                &.on{
                    .badge--switch {
                        transform: translate(3px, -50%);
                    }
                }
                &.off{
                    .badge--switch {
                        transform: translate(-15px, -50%);
                    }
                }
            }
        }

    }
    //span.badge {
    //    width: 30px;
    //    position: relative;
    //    transition:all .2s ease-in-out;
    //}
}
