#optionPanel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(38, 45, 53, .95);
    color: #fff;
    padding: 20px;
    hr {
        background-color:#dadada;
    }
    .heading {
        padding:10px 0;
        &:after {
            content:'';
            display:table;
            clear:both;
        }
        h1 {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        .optionPanel--list_buttons {
            float:right;
            &:after {
                content:'';
                display:table;
                clear:both;
            }
            li {
                display:block;
                float:left;
                margin-right:5px;
                &:last-child{
                    margin-right:0;
                }
            }
        }
    }
    .optionPanel--option_list{
        width:100%;
        li {
            float: left;
            width: 100%;
            max-width: calc(100% / 4);
        }
    }
}
