/**
 * Colors
 */
$mainBackground:#262d35;
$acidOrange: #FD5F00;
$netBlue:#4169E1;
$borderColorLight:#313131;
$acidGreen:#95D855;
$darkRed:#bf0000;

/**
 * Fonts
 */
$fontFamilyPrimary:'Roboto Mono', monospace;
$fontWeightNormal:300;
$fontSize:11px;
$lineHeight:1.3rem;
