#hydraViewContainer{
    float: left;
    width: calc(100% - 220px);
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(38,45,53,0.95);
    overflow-y: auto;
    padding: 10px;
}
