<div class="row">
  <div class="col-2 mod-nav">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a 
         (click)="curMod = null; successMessage = '';"
         class="nav-link" [class.active]="curMod == null">
        <i class="fas fa-cog"></i>
        Main</a>

      <a 
         *ngFor="let mod of modules" 
         (click)="curMod = mod; successMessage = '';"
         class="nav-link" [class.active]="curMod && curMod.name == mod.name">
        <i *ngIf="mod.running" class="fas fa-toggle-on"></i>
        <i *ngIf="!mod.running" class="fas fa-toggle-off"></i>
        {{ mod.name }}</a>

    </div>
  </div>
  <div class="col-10 mod-content">

    <div *ngIf="!curMod" class="container-fluid">

      <div class="row">
        <div class="col-12">
          <h5>Packets per Protocol</h5>

          <table class="table table-dark">
            <tbody>
              <tr *ngFor="let proto of session.packets.Protos | keyvalue">
                <th width="10%">{{ proto.key }}</th>
                <td>
                  <ngb-progressbar type="info" [value]="proto.value" [max]="pktTot">
                    {{ proto.value }}
                  </ngb-progressbar>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h5>Arguments</h5>

          <table class="table table-dark">
            <tbody>
              <tr *ngFor="let arg of session.options | keyvalue">
                <th>{{ arg.key }}</th>
                <td>{{ arg.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h5>Environment</h5>

          <table class="table table-dark">
            <tbody>
              <tr *ngFor="let val of session.env.data | keyvalue">
                <th>{{ val.key }}</th>
                <td>{{ val.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div *ngIf="curMod" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <p class="mod-description">
            {{ curMod.description }}
          </p>
          <span *ngIf="curMod.running" class="badge badge-pill badge-success">
            Running
          </span> 
          <span *ngIf="!curMod.running" class="badge badge-pill badge-danger">
            Not running
          </span> 
          <hr/>
        </div>
      </div>

      <div *ngIf="successMessage" class="row">
        <div class="col-12">
          <div class="alert alert-dismissable fade show alert-success" role="alert">
            {{ successMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p *ngIf="(curMod.parameters | json) == '{}'">No parameters available for this module.</p>

          <div *ngFor="let p of curMod.parameters | keyvalue" class="form-group">
            <label for="{{ p.key }}">
              {{p.key}}
            </label>
            <p class="form-text text-muted">{{ p.value.description }}</p>

            <div class="input-group">
              <input 
                 type="text" 
                 class="form-control form-control-sm param-input" 
                 name="{{p.key}}" 
                 id="{{p.key}}" 
                 (keyup.enter)="saveParam(p.value)"
                 [(ngModel)]="p.value.current_value" />
              
              <div class="input-group-append">
                <button class="btn btn-sm btn-dark" type="button" (click)="saveParam(p.value)">
                  <i class="far fa-save"></i>
                </button>
              </div>
            </div>

          </div> 
        </div>
      </div>
    </div>

  </div>
</div>
