<pre style="color:red;">
  {{ session | json }}
</pre>
<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">-->
      <!--<div class="module-header">-->
        <!--<h3>Module: {{ currentModule.name }}</h3>-->
        <!--<p>Description: {{ currentModule.description }}</p>-->
        <!--<p>Author: {{ currentModule.author }}</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">-->
      <!--<form ng-attr-name="form-{{currentModule.name}}" novalidate>-->
        <!--<div class="form-group" ng-repeat="parameter in currentModule.parameters">-->
          <!--<label for="{{parameter.name}}">-->
            <!--Name: <strong>{{parameter.name}}</strong>-->
          <!--</label>-->
          <!--<input type="text" class="form-control form-control-sm" ng-attr-name="{{parameter.name}}" id="{{parameter.name}}" ng-model="parameter.default_value">-->
          <!--<p class="form-text text-muted">Description: <strong>{{ parameter.description }}</strong></p>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<button type="submit" class="btn btn-primary float-right" ng-click="saveModuleSettings()" ng-disabled="currentModule.saving">-->
            <!--<span ng-show="!currentModule.saving">-->
                <!--<i class="far fa-save"></i> Save Settings-->
            <!--</span>-->
            <!--<span ng-show="currentModule.saving">-->
                <!--<i class="fas fa-circle-notch fa-spin"></i> Saving Settings-->
            <!--</span>-->
          <!--</button>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
