<network hosts="hosts" edges="edges"></network>

<header id="hydraMainHeader" ng-include="'./src/templates/hydra/template-parts/header.html'"></header>

<div id="hydraWrapper">

    <aside id="hydraMainMenu" ng-include="'./src/templates/hydra/template-parts/mainMenu.html'"></aside>

    <main id="hydraViewContainer" ng-include="'./src/templates/hydra/template-parts/viewContainer.html'"></main>

</div>

<footer id="hydraMainFooter" ng-include="'./src/templates/hydra/template-parts/footer.html'"></footer>
