<network hosts="hosts" edges="edges"></network>

<header id="hydraMainHeader"
        ng-include="'./src/templates/hydra/template-parts/header.html'"
        ng-class="{ 'hydra-mode' : hydraModeEnabled }"></header>

<button class="btn btn-hydra-mode btn__shadow btn-special-action"
        ng-click="hydraMode()"
        ng-mouseenter="enableBtnHover('hydraBtnHover')"
        ng-mouseleave="disableBtnHover('hydraBtnHover')"
        ng-class="{ 'label-visible' : hydraModeEnabled }">
    <i class="fab fa-connectdevelop fa-lg"
       ng-class="{ 'fa-pulse' : hydraModeEnabled }"></i>
    <span class="btn-label"
          ng-class="{ 'visible' : hydraBtnHover }">
        Hydra Mode:
        <span ng-class="{
         'text__acid-green' : hydraModeEnabled,
         'text__acid-red' : !hydraModeEnabled
         }">
            <strong>{{ hydraModeEnabled ? 'ON' : 'OFF' }}</strong>
        </span>
    </span>
</button>

<button class="btn btn-terminal btn__shadow btn-special-action"
        ng-click="toggleTerminal()"
        ng-mouseenter="enableBtnHover('terminalBtnHover')"
        ng-mouseleave="disableBtnHover('terminalBtnHover')"
        ng-class="{ 'label-visible' : terminal }">
    <i class="fas fa-terminal fa-lg"
       ng-class="{ 'fa-blink' : terminal }"></i>
    <span class="btn-label"
          ng-class="{ 'visible' : terminalBtnHover }">
        Terminal:
        <span ng-class="{
         'text__acid-green' : terminal,
         'text__acid-red' : !terminal
         }">
            <strong>{{ terminal ? 'ON' : 'OFF' }}</strong>
        </span>
    </span>
</button>

<div id="hydraWrapper" ng-class="{ 'hydra-mode' : hydraModeEnabled }">

    <aside id="hydraMainMenu" ng-include="'./src/templates/hydra/template-parts/mainMenu.html'"></aside>

    <main id="hydraViewContainer" ng-include="'./src/templates/hydra/template-parts/viewContainer.html'"></main>

</div>

<div id="optionPanel" ng-show="optionPanel">
    <div class="heading">
        <h1>User Options</h1>
        <ul class="optionPanel--list_buttons">
            <li ng-click="saveOptionSettings()">
                <span ng-show="!options.saving" class="btn btn-primary btn-options">
                    <i class="far fa-save fa-lg"></i>
                </span>
                    <span ng-show="options.saving" class="btn btn-primary btn-options">
                    <i class="fas fa-circle-notch fa-spin fa-lg"></i>
                </span>
            </li>
            <li ng-click="toggleOptionPanel()">
                <span class="btn btn-primary btn-options">
                    <i class="fa fa-times fa-lg"></i>
                </span>
            </li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <aside>
            <ul ng-if="options" class="optionPanel--option_list">
                <li ng-repeat="(key, value) in options">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="option-{{key}}">
                            <strong>{{key}}</strong>
                        </label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text"
                               class="form-control form-inline form-control-sm"
                               ng-attr-name="option-{{key}}"
                               id="option-{{key}}"
                               ng-model="value"
                               ng-blur="saveOption(key, value, null)"
                               ng-keyup="saveOption(key, value, $event)">
                    </div>
                </li>
            </ul>
        </aside>
    </div>
</div>

<!--<footer id="hydraMainFooter"-->
<!--ng-include="'./src/templates/hydra/template-parts/footer.html'"-->
<!--ng-class="{ 'hydra-mode' : hydraModeEnabled }"></footer>-->
