<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table__session">
          <thead>
          <tr>
            <th>Ipv4</th>
            <!--<th>Ipv6</th>-->
            <th>MAC</th>
            <th>Hostname</th>
            <th>Vendor</th>
            <th>Auth</th>
            <th>Encryption</th>
            <th>Cipher</th>
            <th>Frequency</th>
            <th>RSSI</th>
            <th>Sent</th>
            <th>Received</th>
            <th>Last seen</th>
            <th>Meta</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let device of aps">
              <td>{{ device.ipv4 ? device.ipv4 : 'n/a' }}</td>
              <!--<td>{{ device.ipv6 ? device.ipv6 : 'n/a' }}</td>-->
              <td>{{ device.mac ? device.mac : 'n/a' }}</td>
              <td>{{ device.hostname ? device.hostname : 'n/a' }}</td>
              <td>{{ device.vendor ? device.vendor : 'n/a' }}</td>
              <td>{{ device.authentication ? device.authentication : 'n/a' }}</td>
              <td>
                <!--{{ device.encryption ? device.encryption : 'n/a' }}-->
                <hydra-encryption-indicator [encryptionValue]="device.encryption"></hydra-encryption-indicator>
              </td>
              <td>{{ device.cipher ? device.cipher : 'n/a' }}</td>
              <td>
                <!--{{ device.frequency ? device.frequency : 'n/a' }}-->
                <hydra-frequency-indicator [frequencyValue]="device.frequency"></hydra-frequency-indicator>
              </td>
              <td>
                <!--{{ device.rssi ? device.rssi : 'n/a' }}-->
                <hydra-signal-indicator [signalstrength]="device.rssi"></hydra-signal-indicator>
              </td>
              <td>{{ device.sent ? device.sent : 'n/a' }}</td>
              <td>{{ device.received ? device.received : 'n/a' }}</td>
              <td>{{ device.last_seen | date: 'dd.MM.yyyy @ HH:mm:ss z'}}</td>
              <td>
                <fa-icon *ngIf="device.meta.values.hasOwnProperty('mdns:id')" [icon]="faInfo"></fa-icon>
                <span *ngIf="!device.meta.values.hasOwnProperty('mdns:id')">n/a</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
