<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 d-flex flex-column justify-content-center">
                <form class="form" method="" name="login" ng-submit="authenticate($event)" novalidate>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username"
                               ng-model="credentials.username"
                               ng-minlength="5"
                               ng-disabled="submitted"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password"
                               ng-model="credentials.password"
                               ng-minlength="5"
                               ng-disabled="submitted"
                               required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn--login float-right" ng-disabled="submitted || login.$invalid">
                            <span ng-show="!submitted">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </span>
                            <span ng-show="submitted">
                                <i class="fas fa-spinner fa-spin"></i> Authentication
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
