<omnibar [modName]="'ble.recon'" [toggleCmd]="'ble.recon'" [clearCmd]="'ble.clear'" [withCmd]="true"></omnibar>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="rssi" sort-direction="asc">RSSI</th>
        <th sortable-column="mac">MAC</th>
        <th sortable-column="name">Name</th>
        <th sortable-column="vendor">Vendor</th>
        <th sortable-column="flags">Flags</th>
        <th sortable-column="connectable">Connectable</th>
        <th sortable-column="last_seen">Last seen</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="devices.length == 0">
        <td colspan="7" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let device of devices | search: omnibar.query" [class.alive]="device | alive:500">
        <td>
          <hydra-signal-indicator [signalstrength]="device.rssi"></hydra-signal-indicator>
        </td>
        <td>{{ device.mac }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.vendor }}</td>
        <td>{{ device.flags }}</td>
        <td align="center">
          <fa-icon *ngIf="device.connectable" [icon]="faCheckCircle" style="color:green"></fa-icon>
          <fa-icon *ngIf="!device.connectable" [icon]="faTimes" style="color:red"></fa-icon>
        </td>
        <td class="time">{{ device.last_seen | date: 'HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>

