@import 'variables';

.terminal{
  position:fixed;
  z-index:10;
  //bottom:50%;
  bottom:0;
  //left:50%;
  left:0;
  //transform:translate(-50%, 50%) scale(0,0);
  //transform:translate(-50%, 50%);
  width:100%;
  //max-width:550px;
  height:100%;
  //max-height:300px;
  border-radius:5px;
  overflow:hidden;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
  color:$acidGreen;
  transition-property:transform;
  transition-duration:.3s;
  transition-timing-function:ease-in-out;
  &.active{
    transform:translate(-50%, 50%) scale(1,1);
    transition-property:transform;
    transition-duration:.3s;
    transition-timing-function:ease-in-out;
  }
  &.minimized{
    transform:translate(-50%, 0) scale(1,1);
    max-height:200px;
    max-width:100%;
    bottom:0;
    transition-property:max-height, max-width, scale, top, translate, bottom;
    transition-duration:.3s;
    transition-timing-function:ease-in-out;
    transition-delay:.3s, 0s, 0s, 0s, 0s, 0s;
  }
  &.maximized{
    transform:translate(0, 0) scale(1,1);
    max-height:100%;
    max-width:100%;
    bottom:0;
    left:0;
    transition-property:all;
    transition-duration:.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s, 0s, 0s, 0s, 0s, 0s;
  }
  .terminal__top-bar{
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
  }
  .terminal__button{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 4px;
    display: inline-block;
  }
  .terminal__button-close{
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
  }
  .terminal__button-minimize{
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  .terminal__button-zoom{
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  .terminal__panel{
    height:calc(100% - 25px);
    background-color: rgba(21, 21, 21, .8);
    margin: 0 auto;
    padding: 10px;
    font-family: monospace;
  }
  .terminal__line{

  }
  .terminal__cursor{
    animation: blink 1s infinite;
  }
  p{
    margin:2px 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
