<div class="d-flex align-items-center">
    <div class="left flex-grow-1">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="" class="img-responsive">
        </div>
        <div class="title">
            <h1>Hydra</h1>
        </div>
    </div>
    <div class="right">
        <div class="logout">
            <button class="btn btn-logout">
                <i class="fas fa-sign-out-alt"></i>
                Disconnect
            </button>
        </div>
    </div>
</div>
