<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="ipv4" sort-type="ip" sort-direction="desc">IP</th>
        <th sortable-column="mac">MAC</th>
        <th>Name</th>
        <th sortable-column="vendor">Vendor</th>
        <th sortable-column="last_seen">Last seen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ iface.ipv4 }}</td>
        <td>{{ iface.mac }}</td>
        <td>{{ iface.alias ? iface.alias : iface.hostname }}</td>
        <td>{{ iface.vendor }}</td>
        <td>{{ iface.last_seen | date: 'HH:mm:ss'}}</td>
        <td><strong>interface</strong></td>
      </tr> 
      <tr>
        <td>{{ gateway.ipv4 }}</td>
        <td>{{ gateway.mac }}</td>
        <td>{{ gateway.alias ? gateway.alias : gateway.hostname }}</td>
        <td>{{ gateway.vendor }}</td>
        <td>{{ gateway.last_seen | date: 'HH:mm:ss'}}</td>
        <td><strong>gateway</strong></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr *ngIf="hosts.length == 0">
        <td colspan="6" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let host of hosts">
        <td>{{ host.ipv4 }}</td>
        <td>{{ host.mac }}</td>
        <td>{{ host.alias ? host.alias : host.hostname }}</td>
        <td>{{ host.vendor }}</td>
        <td>{{ host.last_seen | date: 'HH:mm:ss'}}</td>
        <td>
          <span style="cursor:pointer" class="badge badge-pill badge-primary" (click)="visibleMeta[host.mac] = !visibleMeta[host.mac]" *ngIf="(host.meta.values | json) != '{}'">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
          </span>
          <ul *ngIf="visibleMeta[host.mac]">
            <li *ngFor="let item of host.meta.values | keyvalue">
              <strong>{{ item.key }}</strong>: {{ item.value }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
