<omnibar [modName]="'net.recon'" [toggleCmd]="'net.recon, net.probe'" [clearCmd]="'net.clear'"></omnibar>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="ipv4" sort-type="ip" sort-direction="asc">IP</th>
        <th sortable-column="mac">MAC</th>
        <th sortable-column="hostname">Hostname / Alias</th>
        <th sortable-column="vendor">Vendor</th>
        <th sortable-column="last_seen">Last seen</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="hosts.length == 0">
        <td colspan="6" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let host of hosts | search: omnibar.query" [class.alive]="host | alive:1000">
        <td>
          {{ host.ipv4 }}
        </td>
        <td>{{ host.mac }}</td>
        <td>
          {{ host.hostname }}
          <span *ngIf="host.alias" class="badge badge-pill badge-secondary">{{ host.alias }}</span>
        </td>
        <td>{{ host.vendor }}</td>
        <td class="time">{{ host.last_seen | date: 'HH:mm:ss'}}</td>
        <td class="metas">
          <span *ngIf="host == iface" class="badge badge-pill badge-secondary">IFACE</span>
          <span *ngIf="host == gateway" class="badge badge-pill badge-secondary">GW</span>

          <span *ngFor="let group of groupMetas(host.meta.values) | keyvalue">
            <span style="cursor:pointer" class="badge badge-pill badge-warning" (click)="visibleMeta[host.mac+group.key] = !visibleMeta[host.mac+group.key]" *ngIf="(group.value | json) != '{}'">
              {{ group.key }}
            </span>

            <table *ngIf="visibleMeta[host.mac+group.key]" class="table table-sm table-dark">
              <tbody>
              <tr *ngFor="let item of group.value | keyvalue">
                <td>{{ item.key === undefined ? item.key : '' }}</td>
                <td>{{ item.value }}</td>
              </tr>
              </tbody>
            </table>

          </span>

        </td>
      </tr>
    </tbody>
  </table>
</div>
