.omnibar {
    padding: 5px;
    padding-top: 0;
    background-color: #343a40;
    // border-bottom: 1px solid #222;
    padding-bottom: 10px;

    button {
        background-color:#333; 
        color: #999;
    }

    input,
    select {
        background-color:#333; 
        border: 1px solid #353535; 
        color: #aaa;
    }

    select {
        font-size: .8rem;
    }

    .input-group-text {
        border: 1px solid #353535; 
        background-color:#333; 
        color: #999;
    }
}
