<div class="omnibar shadow-lg">

  <div *ngIf="withCmd" class="row" style="margin-top: 5px">
    <div class="col-md-12">
      <div class="input-group input-group-sm">

        <button 
           type="button" 
           *ngIf="clearCmd" 
           class="btn btn-dark btn-sm" 
           ngbTooltip="Clear records from the current view." 
           placement="right" 
           (click)="onClearClicked()">
          <i class="fas fa-trash-alt" ngTooltip="Clear the current view from records."></i>
        </button>

        <ng-container *ngIf="withLimit">
          <select 
              (change)="api.settings.events = $event.target.value" 
              placement="right"
              ngbTooltip="Set how many events to display.">
            <option value="15" [selected]="api.settings.events == 15">15</option>
            <option value="25" [selected]="api.settings.events == 25">25</option>
            <option value="50" [selected]="api.settings.events == 50">50</option>
            <option value="100" [selected]="api.settings.events == 100">100</option>
            <option value="500" [selected]="api.settings.events == 500">500</option>
          </select>
        </ng-container>

        <ng-container *ngIf="withIfaces">
          <span 
            *ngIf="ifaces.length == 0" 
            ngbTooltip="No compatible interfaces found. Disconnect from any network the wireless interface you want to use for scanning."
            placement="right"
            class="badge badge-warning" 
            style="margin: 3px; padding-top:7px">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
          <select 
              id="wifiiface"
              *ngIf="ifaces.length > 0"
              [disabled]="api.module('wifi').running" 
              (change)="onSetWifiInterface($event.target.value)" 
              ngbTooltip="Change the wifi.interface parameter.">
            <option 
                *ngFor="let iface of ifaces" 
                value="{{ iface.name }}"
                [selected]="isWifiIface(iface)"
                >{{ iface.name }}</option>
          </select>
        </ng-container>

        <span *ngFor="let mod of modules | keyvalue">
          <button 
            type="button" 
            class="btn btn-dark btn-sm" 
            ngbTooltip="{{(enabled[mod.key] ? 'Stop ' : 'Start ') + mod.key + ' module.'}}" 
            placement="right" 
            (click)="onModuleToggleClicked(mod)">
            <i *ngIf="enabled[mod.key]" class="fas fa-stop"></i>
            <i *ngIf="!enabled[mod.key]" class="fas fa-play"></i>
          </button>
        </span>

        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-terminal"></i>
          </span>
        </div>
        <input [ngbTypeahead]="searchCommand" [(ngModel)]="cmd" id="cmd" (keyup.enter)="onCmd()" type="text" class="form-control" placeholder="Command bar ..." aria-label="Command bar ..."/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-sm">

        <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search ..." aria-label="Search"/>

      </div>
    </div>
  </div>

</div>
