<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table__session">
          <thead>
            <tr>
              <th>IP</th>
              <th>MAC</th>
              <th>Name</th>
              <th>Vendor</th>
              <th>Sent</th>
              <th>Received</th>
              <th>Last seen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let host of hosts">
              <td>{{ host.ipv4 ? host.ipv4 : '' }}</td>
              <td>{{ host.mac ? host.mac : '' }}</td>
              <td>{{ host.alias ? host.alias : host.hostname }}</td>
              <td><i>{{ host.vendor ? host.vendor : '' }}</i></td>
              <td>{{ host.packets.Sent ? host.packets.Sent : '' }}</td>
              <td>{{ host.packets.Received ? host.packets.Received : '' }}</td>
              <td>{{ host.last_seen | date: 'HH:mm:ss'}}</td>
              <td>
                <small *ngIf="host.meta.values">
                  <ul>
                    <li *ngFor="let item of host.meta.values | keyvalue">
                      <strong>{{ item.key }}</strong>: {{ item.value }}
                    </li>
                  </ul>
                </small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


