@import 'variables';

body {
    background-color: $mainBackground;
}

div#container{
    padding:0;
    margin:0;

    &.page {
        margin-top: 130px;
        padding: 10px;
    }

    @media (min-width: 992px) {
        &.page {
            margin-top: 158px;
        }
    }
}

