@import 'variables';

body {
    background-color: $mainBackground;
}

div#container{
    padding:0;
    margin:0;

    &.page {
        height: calc(100% - 163px);
        margin-top: 163px;
        padding: 10px;

        @media (min-width: 424px) {
            margin-top: 125px;
        }

        @media (min-width: 768px) {
            margin-top: 158px;
        }
    }
}

