<omnibar [modName]="'wifi'" [toggleCmd]="'wifi.recon'" [clearCmd]="'wifi.clear'"></omnibar>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="rssi" sort-direction="asc">RSSI</th>
        <th sortable-column="mac">BSSID</th>
        <th sortable-column="hostname">ESSID</th>
        <th sortable-column="vendor">Vendor</th>
        <th sortable-column="encryption">Encryption</th>
        <th sortable-column="channel">Ch</th>
        <th sortable-column="clients">Clients</th>
        <th sortable-column="sent">Sent</th>
        <th sortable-column="received">Received</th>
        <th sortable-column="last_seen">Last seen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="aps.length == 0">
        <td colspan="11" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let ap of aps | search: omnibar.query" [class.alive]="ap | alive:3000">
        <td>
          <hydra-signal-indicator [signalstrength]="ap.rssi"></hydra-signal-indicator>
        </td>
        <td>{{ ap.mac }}</td>
        <td [class.hidden]="ap.hostname === '<hidden>'">{{ ap.hostname }}</td>
        <td>{{ ap.vendor }}</td>
        <td>
          <fa-icon *ngIf="ap.encryption === 'OPEN'" [icon]="faUnlock" [style.color]="'green'" placement="top"></fa-icon>
          <span *ngIf="ap.encryption !== 'OPEN'">{{ ap.encryption }} ({{ ap.cipher }}, {{ ap.authentication }})</span>
        </td>
        <td>{{ ap.channel }}</td>

        <td>
          <span *ngIf="ap.clients.length > 0">
            <span style="cursor:pointer;" class="badge badge-pill badge-info" (click)="visibleClients[ap.mac] = !visibleClients[ap.mac]">
              {{ ap.clients.length }}
            </span>

            <table *ngIf="visibleClients[ap.mac]" class="table table-sm table-dark">
              <tbody>
                <tr *ngFor="let sta of ap.clients">
                  <td>{{ sta.mac }}</td>
                  <td>{{ sta.vendor }}</td>
                  <td>{{ sta.last_seen | date: 'HH:mm:ss' }}</td>
                </tr>
              </tbody>
            </table>

          </span>
        </td>

        <td>{{ ap.sent }}</td>
        <td>{{ ap.received }}</td>
        <td class="time">{{ ap.last_seen | date: 'HH:mm:ss' }}</td>

        <td>
          <span style="cursor:pointer; margin-left:10px;" class="badge badge-pill badge-warning" (click)="visibleWPS[ap.mac] = !visibleWPS[ap.mac]" *ngIf="(ap.wps | json) != '{}'">
            WPS {{ ap.wps.Version }}
          </span>
          <ul *ngIf="visibleWPS[ap.mac]">
            <li *ngFor="let item of ap.wps | keyvalue">
              <strong>{{ item.key }}</strong>: {{ item.value }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

