<omnibar [modName]="'wifi'" [toggleCmd]="'wifi.recon'" [clearCmd]="'wifi.clear'" [withCmd]="true"></omnibar>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="rssi" sort-direction="asc">RSSI</th>
        <th sortable-column="mac">BSSID</th>
        <th sortable-column="hostname">ESSID</th>
        <th sortable-column="vendor">Vendor</th>
        <th sortable-column="encryption">Encryption</th>
        <th sortable-column="channel">Ch</th>
        <th sortable-column="clients">Clients</th>
        <th sortable-column="sent">Sent</th>
        <th sortable-column="received">Received</th>
        <th sortable-column="last_seen">Last seen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="aps.length == 0">
        <td colspan="11" align="center">
          <i>empty</i>
        </td>
      </tr>

      <ng-container *ngFor="let ap of aps | search: omnibar.query">
        <tr *ngIf="!currAP || currAP.mac == ap.mac" [class.alive]="ap | alive:3000">
          <td>
            <hydra-signal-indicator [signalstrength]="ap.rssi"></hydra-signal-indicator>
          </td>
          <td>{{ ap.mac | uppercase }}</td>
          <td [class.empty]="ap.hostname === '<hidden>'">{{ ap.hostname }}</td>
          <td [class.empty]="!ap.vendor">{{ ap.vendor ? ap.vendor : 'unknown' }}</td>
          <td>
            <fa-icon *ngIf="ap.encryption === 'OPEN'" [icon]="faUnlock" [style.color]="'green'" placement="top"></fa-icon>
            <span *ngIf="ap.encryption !== 'OPEN'">{{ ap.encryption }} ({{ ap.cipher }}, {{ ap.authentication }})</span>
          </td>
          <td>{{ ap.channel }}</td>

          <td [class.empty]="ap.clients.length == 0">
            <span *ngIf="ap.clients.length == 0">0</span>
            <span *ngIf="ap.clients.length > 0">
              <span style="cursor:pointer;" class="badge badge-pill badge-danger" (click)="currAP = (currAP ? null : ap)">
                {{ ap.clients.length }}
                <i *ngIf="!currAP" class="fas fa-angle-right"></i>
                <i *ngIf="currAP && currAP.mac == ap.mac" class="fas fa-angle-down"></i>
              </span>
            </span>
          </td>

          <td [class.empty]="!ap.sent">{{ ap.sent | size }}</td>
          <td [class.empty]="!ap.received">{{ ap.received | size }}</td>
          <td class="time">{{ ap.last_seen | date: 'HH:mm:ss' }}</td>

          <td>
            <span style="cursor:pointer; margin-left:10px;" class="badge badge-pill badge-warning" (click)="visibleWPS[ap.mac] = !visibleWPS[ap.mac]" *ngIf="(ap.wps | json) != '{}'">
              WPS {{ ap.wps.Version }}
              <i *ngIf="!visibleWPS[ap.mac]" class="fas fa-angle-right"></i>
              <i *ngIf="visibleWPS[ap.mac]" class="fas fa-angle-down"></i>
            </span>

            <div *ngIf="visibleWPS[ap.mac]" class="table-dropdown">
              <table class="table table-sm table-dark">
                <tbody>
                <tr *ngFor="let item of ap.wps | keyvalue">
                  <th>{{ item.key }}</th>
                  <td>{{ item.value }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="currAP" class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th style="width:1%">RSSI</th>
        <th style="width:1%">MAC</th>
        <th>Vendor</th>
        <th>Alias</th>
        <th>First seen</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="currAP.clients.length == 0">
        <td colspan="2" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let client of currAP.clients">
        <td>
          <hydra-signal-indicator [signalstrength]="client.rssi"></hydra-signal-indicator>
        </td>
        <td>{{ client.mac | uppercase }}</td>
        <td [class.empty]="!client.vendor">
          {{ client.vendor ? client.vendor : 'unknown' }}
        </td>
        <td [class.empty]="!client.alias">
          {{ client.alias ? client.alias : 'none' }}
        </td>
        <td>
          {{ client.first_seen | date: 'HH:mm:ss' }}
        </td>
        <td>
          {{ client.last_seen | date: 'HH:mm:ss' }}
        </td>
      </tr>
    </tbody>
  </table>

</div>

