@import "variables";

body{
  font-family:$fontFamilyPrimary;
  font-size:$fontSize;
  font-weight: $fontWeightNormal;
  line-height:$lineHeight;
  background-color: $mainBackground;
}
html, body{
  width:100%;
  height:100%;
  overflow-x: hidden;
}

ol, ul{
  padding:0;
  margin:0;
  list-style-type:none;
}
::-webkit-scrollbar {
  background-color: rgba(149, 216, 85, 0.15);
  height: 10px;
  width: 10px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #95D855;
}
.text__acid-green{
  color:$acidGreen;
}
.text__acid-red{
  color:$darkRed;
}
.text__light-blue{
  color:$netBlue;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.badge {
    font-size: 90%;
}

.table-responsive .table {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.empty {
    color: #555;
}

*.param-input,
*.param-input:focus {
    background-color:#333; 
    border: 1px solid #353535; 
    color: #aaa;
}

div.modal-body {
    background-color: #343a40;
    color: #fff;
    font-size: .9rem;

    input {
        background-color:#333; 
        border: 1px solid #353535; 
        color: #aaa;
    }

    .input-group-text {
        border: 1px solid #353535; 
        background-color:#333; 
        color: #999;
    }
}

div.modal-header {
    font-size: 10px; 
    color: white;
    background-color: #212529;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.toast {
    font-size: .8rem;    
}

.dropdown-menu,
.dropdown-item,
.dropdown-item.active {
    cursor: pointer;
    background-color:#333; 
    font-size: .9rem;
    color: #aaa;
    padding: 5px;
    margin: 0;
    line-height: 15px;
}

.dropdown-item.active {
    background-color: #515559;
}

.dropdown-menu {
    // border: 1px solid #212529; 
    border-top: 0;
    border-radius: 0;
    padding: 5px;
    margin-top: -1px;
}

button.drop-small {
    font-family: inherit;
    font-size: .8rem;
    font-weight: bold;
    margin-left: 5px;
}

div.action-container {
    background-color: #212529;
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;

    .form-check {
        margin-top: 0;
        margin-bottom: 0;
        label {
            font-size: .9rem;
        }
    }
}
