@import "variables";

body{
  font-family:$fontFamilyPrimary;
  font-size:$fontSize;
  font-weight: $fontWeightNormal;
  line-height:$lineHeight;
  background-color: $mainBackground;
}
html, body{
  width:100%;
  height:100%;
}

ol, ul{
  padding:0;
  margin:0;
  list-style-type:none;
}
::-webkit-scrollbar {
  background-color: rgba(149, 216, 85, 0.15);
  height: 2px;
  width: 2px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #95D855;
}
.text__acid-green{
  color:$acidGreen;
}
.text__acid-red{
  color:$darkRed;
}
.text__light-blue{
  color:$netBlue;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.badge {
    font-size: 90%;
}

.table-responsive .table {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
