.table .table {
    background-color: #313539;
}

div.table-dropdown {
    z-index: 1000;
    position: absolute;
    right: 0;
    padding: 5px;
    border: 1px solid #212529;
    border-radius: 3px;
    background-color: #313539;
}

tr.alive {
    background-color: #313539;
    td.time {
       font-weight: bold; 
    }
}
