table {
  border-collapse: collapse;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding-bottom:1rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table__session{
  width:100%;
  color: #fff;
  background-color: #212529;
  box-shadow:0 0 3px rgba(0,0,0,.45);
  thead{
    th{
      border-color: #32383e;
      vertical-align: bottom;
      padding: .75rem;
    }
  }
  tbody{
    tr{
      position:relative;
      border-top:1px solid black;
      border-bottom:1px solid black;
      &:nth-of-type(odd){
        background-color: rgba(255,255,255,.05);
      }
      &:hover{
        z-index:1;
        box-shadow:0 0 5px hsl(37, 99%, 47%);
      }
    }
    td{
      border-color: #32383e;
      vertical-align: bottom;
      padding: .75rem;
    }
  }
}
