/* Colors */
$mainBackground: rgba(38,45,53,0.95);
$acidOrange: #FD5F00;
$netBlue:#4169E1;
$borderColorLight:#313131;
$acidGreen:#95D855;
$darkRed:#bf0000;

/* Fonts */
$fontFamilyPrimary: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$fontWeightNormal:400;
$fontSize:.9rem;
$lineHeight:1.5rem;
