<omnibar [clearCmd]="'events.clear'"></omnibar>

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th sortable-column="time" sort-type="time" sort-direction="desc">Time</th>
        <th sortable-column="tag">Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="events.length == 0">
        <td colspan="3" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let event of events | search: omnibar.query">
        <td>{{ event.time | date: 'HH:mm:ss' }}</td>
        <td [ngSwitch]="event.tag.split('.')[0]">
          <span *ngSwitchCase="'wifi'" class="badge badge-pill badge-success">{{ event.tag }}</span>
          <span *ngSwitchCase="'endpoint'" class="badge badge-pill badge-secondary">{{ event.tag }}</span>
          <span *ngSwitchCase="'ble'" class="badge badge-pill badge-primary">{{ event.tag }}</span>
          <span *ngSwitchCase="'hid'" class="badge badge-pill badge-warning">{{ event.tag }}</span>

          <span *ngSwitchDefault class="badge badge-pill badge-dark">{{ event.tag }}</span>
        </td>
        <td>
          <span *ngFor="let item of event.data | keyvalue" style="margin-left:2px">
            <span *ngIf="(item.value | json) != '{}'">
              <strong>{{ item.key }}</strong>: {{ item.value }}
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
