<omnibar [clearCmd]="'events.clear'" [withCmd]="true" [withLimit]="true"></omnibar>

<div *ngIf="ignored.length > 0">
  <table class="table table-sm table-dark" style="margin-bottom: 5px">
    <tbody>
      <tr>
        <td width="1%">Silenced</td>
        <td>
          <button 
           *ngFor="let name of ignored"
           class="btn btn-sm btn-event btn-{{ btnFor(name) }}"
           style="margin-left: 5px"
           (click)="api.cmd('events.include ' + name)"
           ngbTooltip="Click to include this type of events again."
           >
         {{ name }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-sm table-dark">
    <thead>
      <tr>
        <th width="1%" sortable-column="time" sort-type="time" sort-direction="desc">Time</th>
        <th width="1%" sortable-column="tag">Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="events.length == 0">
        <td colspan="3" align="center">
          <i>empty</i>
        </td>
      </tr>

      <tr *ngFor="let event of events | search: omnibar.query">
        <td>{{ event.time | date: 'HH:mm:ss' }}</td>
        <td>
          <button 
            class="btn btn-sm btn-event btn-{{ btnFor(event.tag) }}"
            (click)="api.cmd('events.ignore ' + event.tag)"
            ngbTooltip="Click to ignore this type of events, run 'events.include {{ event.tag }}' later to restore it."
            placement="right"
          >
            {{ event.tag }}
          </button>
        </td>
        <td>
          <event-data [event]="event"></event-data>
        </td>
      </tr>
    </tbody>
  </table>
</div>
