<header id="hydraMainHeader" [attr.data-height]="headerHeight">
  <div class="d-flex align-items-center">
    <div class="left flex-grow-1">
      <div class="logo">
        <img [src]="'./assets/images/logo.png'" alt="Hydra - Logo" class="img-responsive" [ngStyle]="{ 'height':'50px', 'width':'50px' }">
      </div>
      <div class="title">
        <h1>Hydra</h1>
      </div>
    </div>
    <div class="right">
      <div class="logout">
          <hydra-logout-button (logoutEvent)="logout($event)"></hydra-logout-button>
      </div>
    </div>
  </div>
</header>
