@import './partials/normalize';
@import './partials/variables';
@import './partials/helpers';
@import './partials/general';
@import './partials/login';
@import './partials/buttons';
@import './partials/tables';
@import './partials/mainHeader';
@import './partials/mainMenu';
@import './partials/viewContainer';
@import './partials/mainFooter';
@import './partials/network';
@import './partials/contextMenu';
@import './partials/terminal';



