<header id="hydraMainHeader">

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/events">
            <i class="fas fa-terminal">
              <span *ngIf="numEvents > 0" class="badge badge-danger">{{ numEvents }}</span>
            </i>
            Events
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/lan">
            <i class="fa fa-network-wired">
              <span *ngIf="numHosts > 0" class="badge badge-danger">{{ numHosts }}</span>
              <span *ngIf="!api.isModuleEnabled('net.recon')" class="badge badge-danger">
                <i class="fas fa-times"></i>
              </span>
            </i>
            LAN
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/wifi">
            <i class="fa fa-wifi">
              <span *ngIf="numAps > 0" class="badge badge-danger">{{ numAps }}</span>
              <span *ngIf="!api.isModuleEnabled('wifi')" class="badge badge-danger">
                <i class="fas fa-times"></i>
              </span>
            </i>
            WiFi
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ble">
            <i class="fab fa-bluetooth-b">
              <span *ngIf="numBLE > 0" class="badge badge-danger">{{ numBLE }}</span>
              <span *ngIf="!api.isModuleEnabled('ble.recon')" class="badge badge-danger">
                <i class="fas fa-times"></i>
              </span>
            </i>
            BLE
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/hid">
            <i class="fa fa-keyboard">
              <span *ngIf="numHID > 0" class="badge badge-danger">{{ numHID }}</span>
              <span *ngIf="!api.isModuleEnabled('hid')" class="badge badge-danger">
                <i class="fas fa-times"></i>
              </span>
            </i>
            HID
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/advanced">
            <i class="fa fa-cogs">
            </i>
            Advanced
          </a>
        </li>

      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="fa" style="cursor: pointer">
              <fa-icon [icon]="faSignOutAlt"></fa-icon> 
            </i>
          </a>
        </li>
      </ul>

    </div>
  </nav>

</header>

<div *ngIf="sessionError" id="sessionError">
  <div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">ERROR</h5>
    <p class="mb-0">
      {{ sessionError.message }}
    </p>
  </div>
</div>

<div id="commandError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commandErrorTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header error-header">
        <div class="modal-title error-title" id="commandErrorTitle">
          <h5>Error</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body error-body" *ngIf="commandError">
        <i class="fas fa-exclamation-triangle" style="font-size:4rem; width: 100%; text-align:center"></i>
        <br/>
        <br/>
        {{ commandError.error | unbash }}
      </div>
    </div>
  </div>
</div>
